.formWrapper {
	@media (max-width: 370px) {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}
}

.button {
	@apply h-14 rounded-xl bg-orange-400 px-6 font-signika text-white;
	@media (min-width: 371px) {
		@apply ml-5;
	}
}
